{% extends 'news/base.html' %}
{% load static %}


{% block title %} Technology Page{% endblock title %}

{% block content %}
 <div class="row">
     <div class="col-lg-8 col-md-8 col-sm-8">
<div class="left_content">
<div class="single_post_content">
    <h2><span>Local news</span></h2>
    {% for technology in technology_news %}

    <div class="single_post_content_left">
        <ul class="business_catgnav  wow fadeInDown">
            <li>
                <figure class="bsbig_fig"><a href="pages/single_page.html" class="featured_img"> <img
                        alt="" src="{{ technology.image.url }}"> <span
                        class="overlay"></span> </a>
                    <figcaption><a href="pages/single_page.html">{{ technology.title }}</a></figcaption>
                    <p>{{ technology.body | truncatewords:5 }}</p>
                </figure>
            </li>
        </ul>
    </div>
    {% endfor %}
</div>
</div>
</div>
</div>

{% endblock content %}

